h1
{font-weight: 400;font-style: italic;color:royalblue;}
body{
background-image: url("https://thumbs.dreamstime.com/b/special-offer-star-7527442.jpg") ;background-repeat: no-repeat;
}
h3{color:black}